
.bd{

padding-top:10%;
background-color: #0068e1;
height: 650px;
width: 100%;
}


.form-login {
max-width:400px;
padding:40px;
border-radius:30px;
background:lightskyblue;
margin:0 auto;

}


.form-login .form-login-heading{
color:#050b11;
text-align:center;

}

.form-login .form-control {
position:relative;
height:auto;
box-sizing:border-box;
padding:10px;
font-size:16px;

}

.form-login input[type="text"] {
margin-bottom:5px;
border-bottom-right-radius:0;
border-bottom-left-radius: 0;

}

.form-login input[type="password"] {
margin-bottom:10px;
border-top-left-radius: 0;
border-top-right-radius:0;


}